@media (min-width: 768px) {
    .caret-icon{
        background-image: url("../resources/assets/caret-white.png");
    }
    
    /*Nav-Bar*/
    .nav-bar .title{
        color:white;
    }
    
    .nav-bar .menu-float{
      background-color:rgba(255,255,255,0.8) ;
      position:absolute;
      min-width: 80%;
      color:gray;
      border: 1px solid;
      top: 5.5em;
    }
    
    .menu-item .item-float{
      border-bottom:1px solid gray;
    }
    
}

@media (max-width: 767px) {
    .caret-icon{
        background-image: url("../resources/assets/caret-black.png");
    }
    
  .nav-bar{
      color:gray;
  }
}