[class*="-icon"],
.logo{
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;;
  cursor:pointer;
}

[class*="-btn"]{
    cursor:pointer;
}


/*
    backgrounds
*/
.background-img{
    background-image: url("../resources/assets/background.jpg");
}

.caret-white{
    background-image: url("../resources/assets/caret-white.png");
}

.caret-black{
    background-image: url("../resources/assets/caret-black.png");
}

.close-icon{
    background-image: url("../resources/assets/close.png");
}

.facebook-icon{
    background-image: url("../resources/assets/facebook.png");
}

.linkedin-icon{
    background-image: url("../resources/assets/Linkedin.png");
}

.menu-icon{
    background-image: url("../resources/assets/menu.png");
}

.logo{
    background-image: url("../resources/assets/logo.png");
}
/*
  Typography
*/
@font-face{
    font-family: Roboto_Regular;
     src: url("../resources/typography/Roboto-Regular_TITULO.ttf");
}


@font-face{
    font-family: Roboto_Thin;
    src: url("../resources/typography/Roboto-Thin_SUB-TITULO.ttf");
}